.newPasswordForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  font-size: 0.875rem;
}

.newPasswordForm h1 {
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
}

.newPasswordForm p {
  font-size: 0.875rem;
  color: #79717e;
  margin-bottom: 1rem;
}

.newPasswordForm form div > span {
  margin-top: 0.15rem;
  color: red;
}

.newPasswordForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.newPasswordForm form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.newPasswordForm form > div > label {
  margin-bottom: 0.25rem;
}

.newPasswordForm form > div > input {
  border: 1px solid #79717e;
  padding: 0.35rem 0.65rem;
}

.error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.35rem 0.65rem;
  background-color: rgb(255, 192, 192);
}

.success {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.35rem 0.65rem;
  background-color: rgb(192, 255, 192);
}

.changePasswordButton {
  background-color: black;
  color: white;
  padding: 0.35rem 0.65rem;
  cursor: pointer;
  border: none;
}

.changePasswordButton:hover {
  background-color: rgb(56, 56, 56);
}
