.backButton {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.35rem 0.65rem;
  border: 1px solid #79717e;
  background-color: white;
  cursor: pointer;
}

.backButton:hover {
  background-color: #f2f2f2;
}

.backButton a {
  text-decoration: none;
  color: black;
}
